.seekbar{
    margin: 0;
    padding: 0;
    width: 500px;
    height: 8px;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
    border-radius: 1.1em;
}

.seekbar_btn,
.seekbar_bg{
    padding: 0;
    border-radius: 1.1em;
    position: absolute;
    left: 0;
}

.seekbar_btn{
    margin: -5px 0 0 -5px;
    height: 18px;
    width: 18px;
    background: #ccc;    
    z-index: 2;
}

.seekbar_btn:hover,
.seekbar_btn:active{
    background: #bbb;
}

.seekbar_bg{
    margin: 0;
    background: #eee;
    height: 100%;
    z-index: 1;
}